input::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}
.sorting:after,
.sorting_asc:after,
.sorting_desc:after {
  font-size: 70%;
  color: #C0C0C0;
}
.alert p {
  margin-bottom: 10px;
}
.alert ul {
  padding-left: 20px;
}
.form-group > .btn-group {
  display: block;
}
.form-group > .btn-group .btn {
  float: none;
}
.open > .dropdown-menu.multiselect-container {
  width: 100%;
}
.img-thumbnail.img-negative {
  background: #C0C0C0;
}
.text-light {
  font-weight: normal;
}
td.min-tablet .img-thumbnail {
  max-width: none;
}
.dropdown-menu .glyphicon {
  font-size: 90%;
  margin-right: 0.4em;
}
textarea.form-control.textarea-sm {
  height: 100px;
}
.note-btn-group .glyphicon {
  line-height: 1.4;
}
.media-library .modal-body,
.media-library .modal-content {
  background: transparent;
  border: none;
  box-shadow: none;
}
.media-library .modal-backdrop.in {
  -webkit-opacity: .35;
  -moz-opacity: .35;
  opacity: .35;
}
fieldset {
  border: 1px groove #f9f9f9;
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
  box-shadow: 0px 0px 0px 0px #f9f9f9;
}
fieldset legend {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
.panel .panel-heading .pull-right .btn {
  margin-top: -4px;
}
.template-list input {
  border: none;
  background: transparent;
  width: 90%;
}
.template-list .btn-move-region,
.template-list .btn-delete-region,
.template-list .btn-delete-template {
  cursor: pointer;
}
.template-list .region-list li {
  padding: 8px;
  white-space: nowrap;
}
.template-list .region-list li input {
  width: 85%;
}
.template-list .region-list li:nth-child(odd) {
  background-color: #f9f9f9;
}
.pages-list,
.menu_items-list {
  margin-bottom: 20px;
}
.pages-list span.glyphicon,
.menu_items-list span.glyphicon {
  opacity: 0.25;
}
.pages-list ul > li,
.menu_items-list ul > li {
  font-weight: bold;
}
.pages-list ul > li ul,
.menu_items-list ul > li ul {
  margin-top: 10px;
}
.pages-list ul > li ul li,
.menu_items-list ul > li ul li {
  font-weight: normal;
}
.pages-list ul li:hover,
.menu_items-list ul li:hover {
  background: #f9f9f9;
}
.pages-list > form > button,
.menu_items-list > form > button {
  margin-top: 20px;
}
.pages-list .trash > * > a,
.menu_items-list .trash > * > a {
  color: #b4bcc2;
}
.pages-list .draft > * > a,
.menu_items-list .draft > * > a {
  color: #f39c12;
}
.pages-list .list-group,
.menu_items-list .list-group {
  margin-bottom: 0px;
}
.elements-list label {
  font-weight: normal;
}
.pages-list-options {
  margin-bottom: 20px;
}
.block {
  border: 1px dotted #C0C0C0;
  padding: 10px;
  margin-bottom: 5px;
}
.navbar-nav .website-title a small {
  font-size: 9px;
  color: #C0C0C0;
  display: block;
  position: absolute;
  bottom: 5px;
  right: 15px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -6px;
  margin-right: -1px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 5px 0px;
  border-right-color: #cccccc;
  margin-top: 5px;
  margin-left: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

/*# sourceMappingURL=app.css.map */

