@grey: #C0C0C0;
@light-grey: #f9f9f9;
@dark-grey: #666666;
@warning: #f39c12;
@muted: #b4bcc2;
@black: #000000;

input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

.sorting:after, .sorting_asc:after, .sorting_desc:after {
    font-size: 70%;
    color: @grey;
}
.alert{
	p{
		margin-bottom: 10px;
	}
	ul{
		padding-left: 20px;
	}
}
.form-group{
	>.btn-group{
		display: block;
		.btn{
			float: none;
		}
	}	
}
.open{
	>.dropdown-menu.multiselect-container{
		width: 100%;
	}
}

.img-thumbnail.img-negative{
	background: @grey;
}

.text-light{
	font-weight: normal;
}

.panel-heading.note-toolbar{
	.note-para{
		.dropdown-menu{
			min-width: 222px;
		}
	}
}

td.min-tablet{
	.img-thumbnail{
		max-width: none;
	}
}

.dropdown-menu{
	.glyphicon{
		font-size: 90%;
		margin-right: 0.4em;
	}
}

textarea.form-control.textarea-sm{
	height: 100px;
}

.note-btn-group{
	.glyphicon{
		line-height: 1.4;
	}
}

.block-toolbar{
	margin-bottom: 10px;
}

.media-library{
	.modal-body, .modal-content{
		background: transparent;
		border:none;
		box-shadow: none;
	}
	.modal-backdrop.in{
		-webkit-opacity: .35;
		-moz-opacity: .35;
		opacity: .35;
	}
}

fieldset{
    border: 1px groove @light-grey;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow:  0px 0px 0px 0px @light-grey;
            box-shadow:  0px 0px 0px 0px @light-grey;
	legend{
	    font-size: 1.2em;
	    font-weight: bold;
	    text-align: left;
	    width:auto;
	    padding:0 10px;
	    border-bottom:none;
	}
}

.panel{
	.panel-heading{
		.pull-right{
			.btn{
				margin-top:-4px;
			}
		}
	}
}

.template-list{
	input{
		border: none;
		background: transparent;
		width: 90%;
	}
	.btn-move-region, .btn-delete-region, .btn-delete-template{
		cursor: pointer;
	}
	.region-list{
		li{
			padding: 8px;
			white-space: nowrap;
			input{
				width: 85%;
			}
		}
		li:nth-child(odd) {
			background-color: @light-grey;
		}
	}
}

.pages-list, .menu_items-list{
	span.glyphicon{
		opacity: 0.25;
	}
	ul{
		>li{
			font-weight: bold;
			ul{
				margin-top: 10px;
				li{
					font-weight: normal;
				}
			}
		}
		li:hover{
			background: @light-grey;
		}
	}
	>form{
		>button{
			margin-top: 20px;
		}
	}
	.trash{
		> * > a{
			color: @muted;
		}
	}
	.draft{
		> * > a{
			color: @warning;
		}
	}
	.list-group{
		margin-bottom: 0px;
	}
	margin-bottom: 20px;
}

.elements-list{
	label{
		font-weight: normal;
	}
}

.pages-list-options{
	margin-bottom: 20px;
}

.block{
	border: 1px dotted @grey;
	padding: 10px;
	margin-bottom: 5px;
}

.navbar-nav{
	.website-title{
		a{
			small{
				font-size: 9px;
				color: @grey;
				display: block;
				position: absolute;
				bottom: 5px;
				right: 15px;
			}
		}
	}
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    right:100%;
    margin-top:-6px;
    margin-right:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:left;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 5px 5px 0px;
    border-right-color:#cccccc;
    margin-top:5px;
    margin-left:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/* Widgets */
.widget-box {
	background: none repeat scroll 0 0 #F9F9F9;
	border-left: 1px solid #CDCDCD;
	border-top: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	clear: both;
	margin-top: 16px;
	margin-bottom: 16px;
	position: relative;
}
.widget-box.widget-calendar, .widget-box.widget-chat {
	overflow:hidden !important;
}
.accordion .widget-box {
	margin-top: -2px;
	margin-bottom: 0;
	border-radius: 0;
}
.widget-box.widget-plain {
	background: transparent;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
}
.widget-title, .modal-header, div.dataTables_wrapper .ui-widget-header {
	background:#efefef;
	border-bottom: 1px solid #CDCDCD;
	height: 56px;  
}
.widget-title .nav-tabs {
	border-bottom: 0 none; 
}
.widget-title .nav-tabs li a {
	border-bottom: medium none !important;
	border-left: 1px solid #DDDDDD;
		border-radius: 0 0 0 0;
	border-right: 1px solid #DDDDDD;
	border-top: medium none;
	color: #999999;
	margin: 0;
	outline: medium none;
	padding: 9px 10px 8px;
	font-weight: bold; 
	text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a {
	border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
	background-color: transparent !important;
	border-color: #D6D6D6;
	border-width: 0 1px;
	color: #2b2b2b;
}
.widget-title .nav-tabs li.active a {
	background-color: #F9F9F9 !important;
	color: #444444;
}
.widget-title span.icon {
	padding: 9px 10px 7px 11px;
	float: left; border-right:1px solid #dadada;
}
.widget-title h5 {
	color: #666;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 12px;
	line-height: 12px;
	margin: 0;
}
.widget-title .buttons {
	float: right;
	margin: 8px 10px 0 0;
}
.widget-title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 11px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
	margin-right: 190px;
}
.widget-content {
	padding:15px;
	border-bottom: 1px solid #cdcdcd;
}
.widget-box.widget-plain .widget-content {
	padding: 12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
	border-bottom: 1px solid #CDCDCD;
}
.recent-posts, .recent-comments, .recent-users {
	margin: 0;
	padding: 0;
}
.recent-posts li, .recent-comments li, .article-post li, .recent-users li {
	border-bottom: 1px dotted #AEBDC8;
	list-style: none outside none;
	padding: 10px;
}
.recent-posts li.viewall, .recent-comments li.viewall, .recent-users li.viewall {
	padding: 0;
}
.recent-posts li.viewall a, .recent-comments li.viewall a, .recent-users li.viewall a {
	padding: 5px;
	text-align: center;
	display: block;
	color: #888888;
}
.recent-posts li.viewall a:hover, .recent-comments li.viewall a:hover, .recent-users li.viewall a:hover {
	background-color: #eeeeee;
}
.recent-posts li:last-child, .recent-comments li:last-child, .recent-users li:last-child {
	border-bottom: none !important;
}
#user-table .input, button, select, textarea {
	padding:4px;
	font-size:12px;
}

.live {
	background-color: #51a351;
	border-color: #51a351;	
}
.template-thumbnail {
    width: 120px;
    margin-right: 20px;
}
