body{color:#666;font-family:Helvetica Neue,Helvetica,Arial,sans-serif}h1,h2,h3,h4,h5,h6{font-family:Century Gothic,CenturyGothic,Helvetica,Arial,sans-serif}header .logo{margin-left:15px}header .language-selection{font-size:.85em;padding-top:12px}header .language-selection a{color:#666}header .language-selection a:hover{color:#69f}footer{background-color:#e7e7e7;height:100px;line-height:100px;vertical-align:baseline;font-size:.9em}footer .nav li a{line-height:inherit;padding:0 5px;color:#666}footer .nav li a:hover{color:#69f;background-color:transparent}.navbar-default{min-height:0;background-color:transparent;border:none}.navbar-collapse{border:none}.navbar-toggle{margin-top:20px}@media (min-width:768px){header{margin-top:12px;height:64px;margin-top:40px}header .language-selection{padding-top:36px}.navbar-default{background-color:#e53741}.navbar-default .navbar-nav li a{color:#fff;padding-top:10px;padding-bottom:10px}.navbar-default .navbar-nav li a:hover{color:#fff;background-color:#d4212b}}@media (min-width:992px){.container{width:960px}}.front-page .banner img.img-responsive {
	position: unset !important;
	height: 100% !important;

}
/*# sourceMappingURL=app.css.map */
