/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@import "mixings";

	body {
		color: @dark-blue;
		font-family: @body-font;
		background-color: @beige;
	}

	.container {
		background-color: #ffffff;
		padding:0;
		-webkit-box-shadow: 0px 0px 16px 3px rgba(191,185,191,0.75);
		-moz-box-shadow: 0px 0px 16px 3px rgba(191,185,191,0.75);
		box-shadow: 0px 0px 16px 3px rgba(191,185,191,0.75);
	}
	.wrapper {

		margin: 0 auto;
	}
	.navbar button {
		background-color: #009dba;
		color: @white;
	}
	 .navbar-brand img {
		max-width: 170px;
		float: left;
	 }
	.jumbotron.vertical-center {
		margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
	}

	.inline {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333333;
		li {
		    float: left;
		}

		li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 16px;
		    text-decoration: none;
		}
	}
	.ce-button {
	    padding: 10px;
	    top: 15px;
		color: @white;
	}
	.header-text {
		width: 100%;

		h1 , h2 {
			background-color: #515a61;
			color: #fff;
			padding: 10px 0;
			margin: 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 100;
			font-family: 'Montserrat', sans-serif;
		}

	}

	.gallery {
		.block-image {

			display: block;
			margin-left: auto;
			margin-right: auto;
			padding: 36px 0;
		}
		figure {
		 margin: 0;
		}

	}
	.about, .stats {
		.info-image {
			display: none;
		}
	}
	.about, .stats, .process, .contacts, .email {

		background-color: #f5f6f6;
		h2 {
			margin-top: 40px;
			color:#fd713e;
			font-size: 16px;
			text-transform: uppercase;
		}
		p {
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.4px;
			color: #0a3d56;
		}
		.readmore {
			font-size: 12px;
			padding: 0px 0 45px;
			a {
				img {
					display: none;
				}
				background-color: @orange-button;
				color: @white;
				text-decoration:none;
				border:@orange-button;
			    padding: 12px 24px;
				font-size: 12px;

			}
		}
		.infotext {
			padding-top: 10px;
		}
	}
	.contacts {
		h2 {
			margin: 0 -15px;
		}
		.contact .infotext p{
		 	margin-top: 20px;
		}
	}
	.email {
		background-color: #ebeded;
	}
	.stats {
		background-color: @white;
	}
	.clients {
		display: none;
	}
	.desktop-only {
		display: none;
	}
	.contact-city {
		display: none;
	}
	.contact {
		h2 {
			background-color: #515a61;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 100;
			font-family: 'Montserrat', sans-serif;
			padding: 10px 0;
		}
		.contact-table {
			.contact-spacer {
				height:5px;
			}
			.contact-image {
				display: none;
			}
			.contact-text {
				p {
					float: left;
					margin-bottom: 0;
				}
				.contact-button {
					float: left;
					margin: 5px;
				    background-color: #fe6e47;
				    border: medium none #fe6e47;
				    color: #ffffff;
				    font-size: 12px;
				    padding: 12px 12px;
				    text-decoration: none;
				}
			}

		}
	}

	.process {

		.textbox {
			float: right;
		}
		.info-image {
			float: left;
			img {
				width: 100%;
			}
		}
		.process-desktop {
			display: none;
		}
		.process-mobile {
			display: block;
		}

	}

	.client-gallery {
		margin-top: 20px;
	}
	.form-wrapper {
		padding: 5px;
		h2 {
			margin:15px 0;
		}
		.namefield-right {
			margin-top: 10px;
		}
		.form-group {
		    margin-bottom: 0.5rem;
		}
		.form-control {
		    text-transform: uppercase;
		    font-size: 12px;
		    font-family: "Myriad Pro";
		    font-weight: bold;
		}
		input, select, textarea, .form-control::placeholder {
		    color: #999999;
		}
		textarea:focus, input:focus {
		    color: #fd713e;
		}
		.form-group-buttons {
			text-align: left;
			margin-bottom:40px;
		}
		.contact-button {
		    background-color: #fe6e47;
		    border: medium none #fe6e47;
		    color: #ffffff;
		    font-size: 12px;
		    text-decoration: none;
		    text-transform: uppercase;
		    text-align: left;
		    padding: 12px 30px 10px;
		}

	}
	footer, .bd-footer  {
	    background: #515a61 none repeat scroll 0 0;
	    color: @white;
	    clear: both;
	    margin: 0 auto;
	    width: 100%;
	    padding: 10px 0;
	    font-size: 13px;
	    font-weight: lighter;
	    text-transform: uppercase;
		.brandname {
			text-align: center;
			margin-bottom: 10px;
			margin-top: 7px;
		}
	    .links {
		    padding: 0;
	    }

		ul {
		    list-style: outside none none;
		    text-transform: capitalize;
		    li {
			    float: left;
			    padding: 0 3px;
		    }
		    a {
			    color: #00ffec;
			    font-weight: normal;
			    text-decoration: none;
			    text-align: center;
		    }
		}
	}
	.is-active span {
		display: none;
	}

	.c-hamburger {
	    -moz-appearance: none;
	    border: medium none;
	    box-shadow: none;
	    cursor: pointer;
	    display: block;
	    font-size: 0;
	    height: 40px;
	    margin: 0;
	    overflow: hidden;
	    padding: 0;
	    text-indent: -9999px;
	    transition: background 0.3s ease 0s;
	    width: 36px;
	    top: 16px;
	}

	.c-hamburger:focus {
	  outline: none;
	}

	.c-hamburger span {
	  display: block;
	  position: absolute;
	  top:18px;
	  left: 10px;
	  right: 10px;
	  height: 3px;
	  background: white;
	}

	.c-hamburger span::before,
	.c-hamburger span::after {
	    background-color: #fff;
	    content: "";
	    display: block;
	    height: 3px;
	    left: 0;
	    position: absolute;
	    width: 100%;
	}

	.c-hamburger span::before {
	  top: -7px;
	}

	.c-hamburger span::after {
	  bottom: -7px;
	}

	.c-hamburger--htx {
	  background-color: #da4b18;
	}

	.c-hamburger--htx span {
	  transition: background 0s 0.3s;
	}

	.c-hamburger--htx span::before,
	.c-hamburger--htx span::after {
	  transition-duration: 0.3s, 0.3s;
	  transition-delay: 0.3s, 0s;
	}

	.c-hamburger--htx span::before {
	  transition-property: top, transform;
	}

	.c-hamburger--htx span::after {
	  transition-property: bottom, transform;
	}

	/* active state, i.e. menu open */
	.c-hamburger--htx.is-active {
	  background-color: #da4b18;
	}

	.c-hamburger--htx.is-active span {
	  background: none;
	}

	.c-hamburger--htx.is-active span::before {
	  top: 0;
	  transform: rotate(45deg);
	}

	.c-hamburger--htx.is-active span::after {
	  bottom: 0;
	  transform: rotate(-45deg);
	}

	.c-hamburger--htx.is-active span::before,
	.c-hamburger--htx.is-active span::after {
	  transition-delay: 0s, 0.3s;
	}


@media only screen and (min-width : 1025px) {
	body {
		background: url("/img/themes/ce/paper-bkg.jpg") repeat;
	}
	.container {
		margin: 30px 0;
		width:1024px;
	}
	.wrapper {
		max-width: 960px;
	}

	.clients .spacer {
		height: 5px;
	}
	.contact-city {
		display: block;
	}
	.navbar {
		padding: 1.6rem 1rem;
	}
	.navbar-brand img {
		max-width: 180px;
	}
	.about, .stats {
		.info-image {
			display: block;
		}
	}
	.info-image {
		width: 100%;

		padding: 0;
		img {
			width: 100%;
		}
	}
	.process {
		.process-desktop {
			display: block;
		}
		.process-mobile {
			display: none;
		}
	}
	.clients, .desktop-only {
		display: block;
	}
	.desktop-space {
		margin-bottom: 0px;
	}
	.space-3 {
		margin-bottom: 30px;
	}
	.space-2 {
		margin-bottom: 20px;
	}
	.mx-auto {
		padding-bottom: 30px;
	}

	.desktop-only {
		float: right;
		padding-left: 4px;
	}
	.pull-right {
		float: right;
	}
	.ce-brand {
		float: left;
	}
	.ce-button {

	    top: 38px;
		color: @white;
	}
	.navbar-nav {
		float: right;
		margin-bottom: -18px;
	}
	.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
		border-color:@white;
		color: @white;
	}
	.btn-info {
		padding: 10px 14px 9px;
	}
	.c-hamburger {
		top: 36px;
	}
	.menu-buttons {
		float: right;
		.menu-list {
			padding-right: 0;
		}
		ul {
			display: inline;
			list-style: none;

			li {
				float: left;
				padding: 10px 5px;
				text-decoration: none;
			}
			a {
				text-decoration: none;
				color: @white;
				font-size: 18px;
				line-height: 20px;
				letter-spacing: 1px;
			}
		}
	}


	.about, .stats, .process, .contacts, .email {

		.readmore {
			padding: 0px 0 60px;
			a {
				img {
					display: block;
				}
				background-color: @white;
				color: @orange-button;
				border:none;
			    padding: 0;
			    font-size: 13px;
			}
		 	.btn-primary {
		 		background-color: transparent;
		 		img {
			 		float: left;
			 		vertical-align: middle;
			 		padding: 3px;
		 		}
		 		float:left;

		 	}
		}

	}
	.contacts {
		h2 {
				margin: 30px 0 0 0;
			    background-color: transparent;
			    color: #fd713e;
			    text-align: left;
			}
			.infotext {
				padding: 0;
			}
			.contact .infotext p {
				margin: 0 0 15px;
			}
		.contact-table {
			.contact-spacer {
				height:5px;
			}

			.contact-image {
				display: block;
				float:left;
				min-width: 70px;
			}
			.contact-desktop {

				display: block;
			}

			.contact-text {
				float: left;
				margin-top: 10px;
				.contact-button {
					padding: 0;
					margin: 0;
					background-color: #f5f6f6;
					color: @dark-blue;
				}
				.btn {
					padding: 0;
					margin: 0;

				}
				p {
					clear: both;
					color: #0a3d56;
					font-size: 12px;
					line-height: 14px;
					font-family: "Montserrat",sans-serif;
				}
				a {
					text-decoration: none;
					color:#0a3d56;
				}
			}
		}
		.email-text {
			margin-top: 5px;
		}
	}
	.active {
		background-color: #eaeaea;
	}
	.clients .client-gallery .grey-box a {
		figure {
			margin: 0 0 1.3rem !important;
		}
	}
	.form-wrapper {
		padding: 5px;
		h2 {
			margin-top:35px;
		}
		.namefield-right {
			margin-top: 0;
			margin-left: 24px;
		}
		.row1 {
			padding: 10px 0 32px;
		}
		.shortfield {
			float: left;
			width:47%;
		}
		.form-control {
		    text-transform: uppercase;
		    font-size: 12px;
		    font-family: "Myriad Pro";
		    font-weight: bold;
		}
		input, select, textarea{
		    color: #999999;
		}
		textarea:focus, input:focus {
		    color: #fd713e;
		}
		.form-group-buttons {
			margin: 30px 0;
			text-align: center;
		}
		.contact-button {
		    background-color: #009dba;
		    border: medium none #009dba;
		    color: #ffffff;
		    font-size: 14px;
		    text-decoration: none;
		    text-transform: capitalize;
		    text-align: center;
		    padding: 10px 24px 6px;
		}


	}
	footer, .bd-footer  {
	    background: #515a61 none repeat scroll 0 0;
	    color: @white;
	    clear: both;
	    margin: 0 auto;
	    width: 100%;
	    padding: 0;
	    font-size: 12px;
	    font-weight: lighter;
	    text-transform: uppercase;

	    .links {
		    padding: 0;
	    }
	    .bd-footer-links {
		    padding: 7px 30px 0 0;
	    }
		ul {
		    list-style: outside none none;
		    text-transform: capitalize;
		    li {
			    float: right;
		    }
		    span {
			    float: left;
		    }
		    a {
			    color: #fff;
			    font-size: 12px;
			    font-weight: normal;
			    padding: 0;
			    text-decoration: none;
		    }
		}
	}
	.vertical-center {
	  min-height: 100%;  /* Fallback for vh unit */

	  /* Make it a flex container */
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;

	  /* Align the bootstrap's container vertically */
	    -webkit-box-align : center;
	  -webkit-align-items : center;
	       -moz-box-align : center;
	       -ms-flex-align : center;
	          align-items : center;

	  /* In legacy web browsers such as Firefox 9
	     we need to specify the width of the flex container */
	  width: 100%;

	  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
	     hence the bootstrap's container won't be aligned to the center anymore.

	     Therefore, we should use the following declarations to get it centered again */
	         -webkit-box-pack : center;
	            -moz-box-pack : center;
	            -ms-flex-pack : center;
	  -webkit-justify-content : center;
	          justify-content : center;
	}
}


