/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@white: #ffffff;
@light-green: #a4e377;
@medium-green: #79bd8f;
@dark-blue: #004459;
@light-pink: #ffc0a9;

@dark-orange: #c12b18;
@medium-orange: #da4b18;
@light-orange: #b26a18;
@pale-orange: #f08a26;
@dark-yellow: #eda933;
@yellow: #ecc740;
@orange:#c12b18;
@orange-button:#fe6e47;

@dark-blue: #0a3d56;
@medium-blue: #095c78;
@light-blue: #07799a;
@pale-blue: #0496bb;
@dark-green: #5ba793;
@green: #a3b86c;


@turquoise: #1E8B71;
@lime-green: #C5E134;
@pink: #FFC1AA;
@dark-pink: #FF8497;
@purple: #CC9ACC;
@beige:#e7e7e7;
@dark-blue-box: #004558;



@body-font: 'Montserrat', sans-serif;
@title-font: "Century Gothic", CenturyGothic, Helvetica, Arial, sans-serif;
.dark-orange-box {
	background-color: @dark-orange;
}
.medium-orange-box {
	background-color: @medium-orange;
}
.light-orange-box {
	background-color: @light-orange;
}
.pale-orange-box {
	background-color: @pale-orange;
}
.dark-yellow-box {
	background-color: @dark-yellow;
}
.yellow-box {
	background-color: @yellow;
}


.dark-blue-box {
	background-color: @dark-blue;
}
.medium-blue-box {
	background-color: @medium-blue;
}
.light-blue-box {
	background-color: @light-blue;
}
.pale-blue-box {
	background-color: @pale-blue;
}
.dark-green-box {
	background-color: @dark-green;
}
.green-box {
	background-color: @green;
}


.row {
	margin: 0;
}