@body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;;
@title-font: "Century Gothic", CenturyGothic, Helvetica, Arial, sans-serif;

@grey: #e7e7e7;
@light-grey: #f9f9f9;
@dark-grey: #666666;
@warning: #f39c12;
@muted: #b4bcc2;
@black: #000000;
@red: #e53741;
@red-hover: #D4212B;
@blue: #69f;
@white: #ffffff;

@container-width: 960px;
@header-height: 64px;
@header-margin-top: 40px;
@footer-height: 100px;

body {
	color: @dark-grey;
	font-family: @body-font;
}

h1, h2, h3, h4, h5, h6{
	font-family: @title-font;
}

header{
	.logo{
		margin-left: 15px;
	}
	.language-selection{
		font-size: 0.85em;
		padding-top: 12px;
		a{
			color: @dark-grey;
		}
		a:hover{
			color: @blue;
		}
	}
}

footer{
	background-color: @grey;
	height: @footer-height;
	line-height: @footer-height;
	vertical-align: baseline;
	font-size: 0.9em;
	.nav{
		li{
			a{
				line-height: inherit;
				padding: 0px 5px;
				color: @dark-grey;
			}
			a:hover{
				color: @blue;
				background-color: transparent;
			}
		}
	}
}

.navbar-default{
	min-height: 0px;
	background-color: transparent;
	border: none;
}

.navbar-collapse{
	border: none;
}

.navbar-toggle{
	margin-top: 20px;
}

@media (min-width: 768px) { // Boostrap's "sm" classes standart layout width

	header{
		margin-top: 12px;
		height: @header-height;
		margin-top: @header-margin-top;
		.language-selection{
			padding-top: 36px;
		}
	}

	.navbar-default{
		background-color: @red;
		.navbar-nav{
			li{
				a{
					color: @white;
					padding-top: 10px;
					padding-bottom: 10px;
				}
				a:hover{
					color: @white;
					background-color: @red-hover;
				}
			}
		}
	}

}

@media (min-width: 992px) { // Boostrap's "md" classes standart layout width

	.container {
		width: @container-width;
	}

	.navbar-default{

	}

}
