@body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;;
@title-font: "Century Gothic", CenturyGothic, Helvetica, Arial, sans-serif;

@black: rgb(0,0,0);
@dark-grey: rgba(0,0,0,0.9);
@grey: rgba(0,0,0,0.4);
@light-grey: rgba(0,0,0,0.1);
@white: rgb(255,255,255);

@dark-background-grey: #56595c;
@light-background-grey: #f3f3f3;
@border-grey: #eaeaea;

@text-grey: #666666;
@text-red: #ff5555;
@text-green: #56a3bd;
@text-blue: #69cdf3;

@warning: #f39c12;
@muted: #b4bcc2;
@red: #e53741;
@red-hover: #D4212B;
@blue: #69f;

@transparent-white-bg: rgba(255,255,255,0.9);
@transparent-red-bg: rgba(255,0,0,0.7);

@container-width: 960px;
@widescreen-width: 1366px;
@mobile-header-height: 70px;
@header-height: 70px;
@footer-height: 100px;

body {
	color: @text-grey;
	font-family: @body-font;
}

h1, h2, h3, h4, h5, h6{
	font-family: @title-font;
}

a{
	color: @text-blue;
}

a:hover{
	color: @text-red;
	text-decoration: underline;
}

.clearfix{
	clear: both;
}

header{
	.logo{
		margin-left: 15px;
	}
	.language-selection{
		width:100%;
		height: 40px;
		line-height: 40px;
		color: @white;
		font-size: 12px;
		font-weight: bold;
		.dropdown-toggle{
			background: @transparent-red-bg;
			padding-left: 35px;
			margin-left: -15px;
			margin-right: -15px;
			cursor: pointer;
			span{
				display: inline-block;
				background: transparent;
				color: @white;
				height: 33px;
				width: 40px;
			}
		}
		.dropdown-menu{
			background: @transparent-white-bg;
			border: none;
			min-width: 0px;
			width: 40px;
			border-radius: 0px;
			padding: 0px;
			a{
				padding: 0px 10px;
				height: 33px;
				line-height: 33px;
				font-size: 12px;
				font-weight: bold;
				text-align: center;
				color: @white;
				background: @transparent-red-bg;
			}
			a:hover{
				background: @transparent-white-bg;
				color: @red;
			}
		}
		a{
			color: @white;
		}
		a:hover{
			color: @black;
		}
	}
}

footer{
	background-color: @light-background-grey;
	vertical-align: baseline;
	font-size: 0.9em;
	text-align: center;
	.logo{
		line-height: @footer-height;
	}
	.nav{
		margin-top: 36px;
		color: @grey;
		font-size: 14px;
		line-height: 20px;
		li{
			a{
				color: @text-grey;
				padding: 0px;
				font-weight: bold;
			}
			a:hover{
				color: @black;
			}
		}
		li + li{
			a:before{
				content: "|";
				padding: 0px 10px;
				font-weight: normal;
			}
		}
	}
	p.copyright{
		color: @text-grey;
		font-size: 12px;
	}
}

.navbar-default{
	background-color: @transparent-white-bg;
	border-bottom: none;
	.navbar-toggle{
		margin-top: 16px;
		margin-bottom: 12px;
		border: 1px solid @white;
		border-radius: 0px;
		background: @transparent-red-bg;
		.icon-bar{
			background-color: @white;
			width: 18px;
		}
	}
	.navbar-nav{
		border: none;
		font-family: @title-font;
		width: 100%;
		li{
			width: 100%;
			padding: 0px;
			a{
				font-weight: bold;
				padding-left: 4px;
				padding-right: 4px;
				color: @text-grey;
			}
		}
		li + li{
			a{
				border-top: 1px solid @grey;
			}
		}
	}
	.navbar-collapse.in{
		overflow-y: visible;
	}
}

.breadcrumb-wrapper{
	background-color: @dark-background-grey;
	min-height: 40px;
	padding: 10px 16px;
	vertical-align: baseline;
	font-weight: bold;
	font-family: @title-font;
	font-size: 0.9em;
	border-bottom: 1px solid @white;
	.breadcrumb{
		margin: 0px auto;
		padding: 0px;
		background-color: transparent;
		li{
			display: inline;
			a{
				color: @white;
			}
		}
		>li+li:before{
			color: @text-red;
		}
		li:last-child{
			a{
				color: @text-red;
			}
		}
	}
}

.side-menu{
	font-family: @title-font;
	background-color: @light-background-grey;
	h3{
		padding: 8px 16px;
		line-height: 24px;
		margin: 0px;
		background-color: @dark-background-grey;
		font-size: 18px;
		font-weight: bold;
		border-bottom: 1px solid @white;
		color: @white;
		a{
			color: @white;
		}
	}
	ul.list-group{
		padding: 4px 16px;
		margin: 0px;
		li.list-group-item{
			background-color: transparent;
			border: none;
			border-top: 1px solid @light-grey;
			padding: 10px 0px;
			font-size: 13px;
			font-weight: bold;
			border-radius: 0px;
			a, a:hover{
				color: @text-grey;
			}
		}
		li.list-group-item:first-child{
			border-top: none;
		}
		li.active{
			>div>a, >div>a:hover{
				color: @text-red;
			}
		}
	}
}

.banner{
	margin-top: @mobile-header-height;
	background: @dark-background-grey;
	.banner-caption{
		margin: 216px 10px 20px 10px;
		color: @white;
		h1{
			color: @white;
			margin: 0px 0px 12px 0px;
			font-size: 22px;
			font-weight: bold;
			span{
				font-weight: normal;
				font-style: italic;
			}
		}
	}
	img.img-responsive{
		max-width: 100%;
	}
}

.page-content{
	margin-bottom: 20px;
	padding: 0px;
	h1{
		margin: 0px 0px 8px 0px;
		padding: 8px 0px;
		color: @text-red;
		font-size: 21px;
		font-weight: bold;
		letter-spacing: 0.02em;
	}
	h2{
		font-size: 18px;
		margin: 0px;
		padding: 0px;
		font-weight: bold;
		color: @text-red;
	}
	h3{
		font-size: 15px;
		color: @text-red;
		font-weight: bold;
	}
	hr{
		border-top: 2px solid @red;
		height: 0;
		margin: 20px 0;
	}
}

.service-widgets{
	.col + .col{
		background: url("/img/themes/appcogroup/divisor-thin.png") no-repeat;
	}
	.service-widget{
		width: 187px;
		margin: 0px auto 40px auto;
		a:hover{
			text-decoration: none;
		}
		h2{
			background: url("/img/themes/appcogroup/dynamic-bar-red.png") no-repeat;
			color: @white;
			font-size: 16px;
			font-weight: bold;
			height: 33px;
			line-height: 33px;
			padding-left: 10px;
			span{
				font-weight: normal;
				font-style: italic;
			}
		}
		.widget-img{
			text-align: center;
			height: 120px;
			margin-top: 40px;
			img{
				height: 100px;
			}
		}
		.widget-text{
			color: @text-grey;
			font-size: 13px;
			height: 100px;
			margin-bottom: 12px;
		}
		button{
			text-align: center;
			width: 100%;
			border: 1px solid @dark-grey;
			color: @text-grey;
			font-weight: bold;
			padding: 5px;
			background: @light-background-grey;
		}
		button:hover{
			background: @dark-background-grey;
			color: @light-background-grey;
		}
	}
}

.left-menu{
	margin-bottom: 10px;
}

.main{
	margin-left: 16px;
	margin-right: 16px;
}

.news-item{
	margin-bottom: 20px;
	.news-thumbnail{
		max-height: 180px;
		overflow: hidden;
	}
	.news-image{
		width: 240px;
		margin: 0px 20px 20px 0px;
	}
	h1{
		font-size: 18px;
		color: @red;
		font-weight: bold;
	}
	h2{
		font-size: 16px;
		line-height: 18px;
		margin: 0px;
		padding: 0px;
		font-weight: bold;
		a{
			color: @text-grey;
		}
		a:hover{
			text-decoration: none;
		}
	}
	h3{
		font-size: 14px;
		color: @red;
		font-weight: bold;
	}
	p.news-date{
		color: @text-green;
		font-size: 12px;
		font-weight: bold;
	}
}

.news-most-read-list{
	ul{
		border-left: 1px solid @red;
		background: @light-background-grey;
		padding-bottom: 10px;
		li{
			margin: 10px 20px;
			padding-top: 10px;
			h4{
				font-size: 13px;
				line-height: 16px;
				font-weight: bold;
				margin: 0px;
				a{
					color: @text-grey;
				}
			}
			p.news-date{
				color: @blue;
				font-size: 12px;
				font-weight: bold;
			}
		}
		li + li{
			border-top: 1px solid @light-grey;
		}
	}
}

.element-item{
	h1{
		font-size: 18px;
		color: @red;
		font-weight: bold;
	}
	margin-bottom: 40px;
}

.testimonials{
	background: @light-background-grey;
	padding: 20px 20px 50px 20px;
	h2{
		margin-bottom: 12px;
	}
	h4{
		font-size: 16px;
		font-weight: bold;
		color: @text-grey;
	}
}

.carousel-indicators{
	bottom: -40px;
	li, li.active{
		border: none;
		width: 9px;
		height: 9px;
		margin: 1px;
	}
	li{
		background-color: @light-grey;
	}
	.active{
		background: @red;
	}
}

.app-layout-ru{
	.service-widgets{
		.service-widget{
			h2{
				font-size: 14px;
			}
		}
	}
}

.front-page{
	.banner{
		min-height: 200px;
		img.img-responsive{
			right: 0px;
			max-width: none;
			height: 200px;
			position: absolute;
		}
	}
}

@media (min-width: 768px) { // Boostrap's "sm" classes standart layout width

	.navbar-default{
		height: @header-height;
		font-size: 0.9em;
		border-bottom: 5px solid @border-grey;
		.navbar-header{
			width: 200px;
		}
		.navbar-nav{
			width: 498px;
			li{
				padding-left: 15px;
				a{
					height: @header-height;
					font-size: 12px;
					line-height: 14px;
					padding: 28px 4px 0 4px;
					text-align: center;
					vertical-align: baseline;
				}
			}
			li + li{
				a{
					border-top: none;
				}
			}
			li.active, li:hover, >li.open{
				>a, >a:hover, >a:focus{
					background-color: @transparent-red-bg;
					color: @white;
				}
			}
		}
	}

	.banner{
		margin-top: @header-height;
		height: auto;
		.banner-caption{
			position: absolute;
			z-index: 9;
			margin-top: -360px;
			margin-left: 80px;
			width: 264px;
			z-index: 9;
			h1{
				font-size: 28px;
				span{
					display: block;
				}
			}
		}
		img.img-responsive{
			position: relative;
			height: auto;
		}
	}

	.main{
		margin-left: 0px;
		margin-right: 0px;
	}

	header{
		.language-selection{
			width: auto;
			height: 33px;
			line-height: 33px;
			clear:right;
			.dropdown-toggle{
				background: url("/img/themes/appcogroup/dynamic-bar-red-reverse.png") no-repeat;
				padding-left: 30px;
				margin-left: 0px;
				margin-right: 0px;
				span{
					background: @white;
					color: @red;
					padding: 0px 11px;
					margin-left: 11px;
				}
			}
		}
	}

	footer{
		text-align: left;
		.logo{
			text-align: right;
		}
	}

	.breadcrumb-wrapper{
		padding: 10px;
		border-bottom: none;
	}

	.front-page{
		.banner{
			img.img-responsive{
				height: auto;
				position: relative;
			}
		}
	}

}

@media (min-width: 992px) { // Boostrap's "md" classes standart layout width

	.container {
		width: @container-width;
	}

	.ws-container {
		width: @widescreen-width;
		margin: 0px auto 20px auto;
	}

	.navbar-default{
		.navbar-header{
			width: 200px;
		}
		.navbar-nav{
			width: 722px;
		}
	}

	.breadcrumb-wrapper{
		.breadcrumb{
			width: @container-width;
		}
	}

	.banner{
		margin-top: 0px;
	}

}
