/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.dark-orange-box {
  background-color: #c12b18;
}
.medium-orange-box {
  background-color: #da4b18;
}
.light-orange-box {
  background-color: #b26a18;
}
.pale-orange-box {
  background-color: #f08a26;
}
.dark-yellow-box {
  background-color: #eda933;
}
.yellow-box {
  background-color: #ecc740;
}
.dark-blue-box {
  background-color: #0a3d56;
}
.medium-blue-box {
  background-color: #095c78;
}
.light-blue-box {
  background-color: #07799a;
}
.pale-blue-box {
  background-color: #0496bb;
}
.dark-green-box {
  background-color: #5ba793;
}
.green-box {
  background-color: #a3b86c;
}
.row {
  margin: 0;
}
body {
  color: #0a3d56;
  font-family: 'Montserrat', sans-serif;
  background-color: #e7e7e7;
}
.container {
  background-color: #ffffff;
  padding: 0;
  box-shadow: 0px 0px 16px 3px rgba(191, 185, 191, 0.75);
}
.wrapper {
  margin: 0 auto;
}
.navbar button {
  background-color: #009dba;
  color: #ffffff;
}
.navbar-brand img {
  max-width: 170px;
  float: left;
}
.jumbotron.vertical-center {
  margin-bottom: 0;
  /* Remove the default bottom margin of .jumbotron */
}
.inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
.inline li {
  float: left;
}
.inline li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.ce-button {
  padding: 10px;
  top: 15px;
  color: #ffffff;
}
.header-text {
  width: 100%;
}
.header-text h1,
.header-text h2 {
  background-color: #515a61;
  color: #fff;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}
.gallery .block-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 36px 0;
}
.gallery figure {
  margin: 0;
}
.about .info-image,
.stats .info-image {
  display: none;
}
.about,
.stats,
.process,
.contacts,
.email {
  background-color: #f5f6f6;
}
.about h2,
.stats h2,
.process h2,
.contacts h2,
.email h2 {
  margin-top: 40px;
  color: #fd713e;
  font-size: 16px;
  text-transform: uppercase;
}
.about p,
.stats p,
.process p,
.contacts p,
.email p {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  color: #0a3d56;
}
.about .readmore,
.stats .readmore,
.process .readmore,
.contacts .readmore,
.email .readmore {
  font-size: 12px;
  padding: 0px 0 45px;
}
.about .readmore a,
.stats .readmore a,
.process .readmore a,
.contacts .readmore a,
.email .readmore a {
  background-color: #fe6e47;
  color: #ffffff;
  text-decoration: none;
  border: #fe6e47;
  padding: 12px 24px;
  font-size: 12px;
}
.about .readmore a img,
.stats .readmore a img,
.process .readmore a img,
.contacts .readmore a img,
.email .readmore a img {
  display: none;
}
.about .infotext,
.stats .infotext,
.process .infotext,
.contacts .infotext,
.email .infotext {
  padding-top: 10px;
}
.contacts h2 {
  margin: 0 -15px;
}
.contacts .contact .infotext p {
  margin-top: 20px;
}
.email {
  background-color: #ebeded;
}
.stats {
  background-color: #ffffff;
}
.clients {
  display: none;
}
.desktop-only {
  display: none;
}
.contact-city {
  display: none;
}
.contact h2 {
  background-color: #515a61;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0;
}
.contact .contact-table .contact-spacer {
  height: 5px;
}
.contact .contact-table .contact-image {
  display: none;
}
.contact .contact-table .contact-text p {
  float: left;
  margin-bottom: 0;
}
.contact .contact-table .contact-text .contact-button {
  float: left;
  margin: 5px;
  background-color: #fe6e47;
  border: medium none #fe6e47;
  color: #ffffff;
  font-size: 12px;
  padding: 12px 12px;
  text-decoration: none;
}
.process .textbox {
  float: right;
}
.process .info-image {
  float: left;
}
.process .info-image img {
  width: 100%;
}
.process .process-desktop {
  display: none;
}
.process .process-mobile {
  display: block;
}
.client-gallery {
  margin-top: 20px;
}
.form-wrapper {
  padding: 5px;
}
.form-wrapper h2 {
  margin: 15px 0;
}
.form-wrapper .namefield-right {
  margin-top: 10px;
}
.form-wrapper .form-group {
  margin-bottom: 0.5rem;
}
.form-wrapper .form-control {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Myriad Pro";
  font-weight: bold;
}
.form-wrapper input,
.form-wrapper select,
.form-wrapper textarea,
.form-wrapper .form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-wrapper input,
.form-wrapper select,
.form-wrapper textarea,
.form-wrapper .form-control::-moz-placeholder {
  color: #999999;
}
.form-wrapper input,
.form-wrapper select,
.form-wrapper textarea,
.form-wrapper .form-control:-ms-input-placeholder {
  color: #999999;
}
.form-wrapper input,
.form-wrapper select,
.form-wrapper textarea,
.form-wrapper .form-control::placeholder {
  color: #999999;
}
.form-wrapper textarea:focus,
.form-wrapper input:focus {
  color: #fd713e;
}
.form-wrapper .form-group-buttons {
  text-align: left;
  margin-bottom: 40px;
}
.form-wrapper .contact-button {
  background-color: #fe6e47;
  border: medium none #fe6e47;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  padding: 12px 30px 10px;
}
footer,
.bd-footer {
  background: #515a61 none repeat scroll 0 0;
  color: #ffffff;
  clear: both;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
  font-weight: lighter;
  text-transform: uppercase;
}
footer .brandname,
.bd-footer .brandname {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 7px;
}
footer .links,
.bd-footer .links {
  padding: 0;
}
footer ul,
.bd-footer ul {
  list-style: outside none none;
  text-transform: capitalize;
}
footer ul li,
.bd-footer ul li {
  float: left;
  padding: 0 3px;
}
footer ul a,
.bd-footer ul a {
  color: #00ffec;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
}
.is-active span {
  display: none;
}
.c-hamburger {
  -moz-appearance: none;
  border: medium none;
  box-shadow: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 40px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -9999px;
  transition: background 0.3s ease 0s;
  width: 36px;
  top: 16px;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 18px;
  left: 10px;
  right: 10px;
  height: 3px;
  background: white;
}
.c-hamburger span::before,
.c-hamburger span::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}
.c-hamburger span::before {
  top: -7px;
}
.c-hamburger span::after {
  bottom: -7px;
}
.c-hamburger--htx {
  background-color: #da4b18;
}
.c-hamburger--htx span {
  transition: background 0s 0.3s;
}
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span::before {
  transition-property: top, transform;
}
.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}
/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #da4b18;
}
.c-hamburger--htx.is-active span {
  background: none;
}
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
@media only screen and (min-width: 1025px) {
  body {
    background: url("/img/themes/ce/paper-bkg.jpg") repeat;
  }
  .container {
    margin: 30px 0;
    width: 1024px;
  }
  .wrapper {
    max-width: 960px;
  }
  .clients .spacer {
    height: 5px;
  }
  .contact-city {
    display: block;
  }
  .navbar {
    padding: 1.6rem 1rem;
  }
  .navbar-brand img {
    max-width: 180px;
  }
  .about .info-image,
  .stats .info-image {
    display: block;
  }
  .info-image {
    width: 100%;
    padding: 0;
  }
  .info-image img {
    width: 100%;
  }
  .process .process-desktop {
    display: block;
  }
  .process .process-mobile {
    display: none;
  }
  .clients,
  .desktop-only {
    display: block;
  }
  .desktop-space {
    margin-bottom: 0px;
  }
  .space-3 {
    margin-bottom: 30px;
  }
  .space-2 {
    margin-bottom: 20px;
  }
  .mx-auto {
    padding-bottom: 30px;
  }
  .desktop-only {
    float: right;
    padding-left: 4px;
  }
  .pull-right {
    float: right;
  }
  .ce-brand {
    float: left;
  }
  .ce-button {
    top: 38px;
    color: #ffffff;
  }
  .navbar-nav {
    float: right;
    margin-bottom: -18px;
  }
  .navbar-light .navbar-brand,
  .navbar-light .navbar-toggler {
    border-color: #ffffff;
    color: #ffffff;
  }
  .btn-info {
    padding: 10px 14px 9px;
  }
  .c-hamburger {
    top: 36px;
  }
  .menu-buttons {
    float: right;
  }
  .menu-buttons .menu-list {
    padding-right: 0;
  }
  .menu-buttons ul {
    display: inline;
    list-style: none;
  }
  .menu-buttons ul li {
    float: left;
    padding: 10px 5px;
    text-decoration: none;
  }
  .menu-buttons ul a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .about .readmore,
  .stats .readmore,
  .process .readmore,
  .contacts .readmore,
  .email .readmore {
    padding: 0px 0 60px;
  }
  .about .readmore a,
  .stats .readmore a,
  .process .readmore a,
  .contacts .readmore a,
  .email .readmore a {
    background-color: #ffffff;
    color: #fe6e47;
    border: none;
    padding: 0;
    font-size: 13px;
  }
  .about .readmore a img,
  .stats .readmore a img,
  .process .readmore a img,
  .contacts .readmore a img,
  .email .readmore a img {
    display: block;
  }
  .about .readmore .btn-primary,
  .stats .readmore .btn-primary,
  .process .readmore .btn-primary,
  .contacts .readmore .btn-primary,
  .email .readmore .btn-primary {
    background-color: transparent;
    float: left;
  }
  .about .readmore .btn-primary img,
  .stats .readmore .btn-primary img,
  .process .readmore .btn-primary img,
  .contacts .readmore .btn-primary img,
  .email .readmore .btn-primary img {
    float: left;
    vertical-align: middle;
    padding: 3px;
  }
  .contacts h2 {
    margin: 30px 0 0 0;
    background-color: transparent;
    color: #fd713e;
    text-align: left;
  }
  .contacts .infotext {
    padding: 0;
  }
  .contacts .contact .infotext p {
    margin: 0 0 15px;
  }
  .contacts .contact-table .contact-spacer {
    height: 5px;
  }
  .contacts .contact-table .contact-image {
    display: block;
    float: left;
    min-width: 70px;
  }
  .contacts .contact-table .contact-desktop {
    display: block;
  }
  .contacts .contact-table .contact-text {
    float: left;
    margin-top: 10px;
  }
  .contacts .contact-table .contact-text .contact-button {
    padding: 0;
    margin: 0;
    background-color: #f5f6f6;
    color: #0a3d56;
  }
  .contacts .contact-table .contact-text .btn {
    padding: 0;
    margin: 0;
  }
  .contacts .contact-table .contact-text p {
    clear: both;
    color: #0a3d56;
    font-size: 12px;
    line-height: 14px;
    font-family: "Montserrat", sans-serif;
  }
  .contacts .contact-table .contact-text a {
    text-decoration: none;
    color: #0a3d56;
  }
  .contacts .email-text {
    margin-top: 5px;
  }
  .active {
    background-color: #eaeaea;
  }
  .clients .client-gallery .grey-box a figure {
    margin: 0 0 1.3rem !important;
  }
  .form-wrapper {
    padding: 5px;
  }
  .form-wrapper h2 {
    margin-top: 35px;
  }
  .form-wrapper .namefield-right {
    margin-top: 0;
    margin-left: 24px;
  }
  .form-wrapper .row1 {
    padding: 10px 0 32px;
  }
  .form-wrapper .shortfield {
    float: left;
    width: 47%;
  }
  .form-wrapper .form-control {
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Myriad Pro";
    font-weight: bold;
  }
  .form-wrapper input,
  .form-wrapper select,
  .form-wrapper textarea {
    color: #999999;
  }
  .form-wrapper textarea:focus,
  .form-wrapper input:focus {
    color: #fd713e;
  }
  .form-wrapper .form-group-buttons {
    margin: 30px 0;
    text-align: center;
  }
  .form-wrapper .contact-button {
    background-color: #009dba;
    border: medium none #009dba;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 24px 6px;
  }
  footer,
  .bd-footer {
    background: #515a61 none repeat scroll 0 0;
    color: #ffffff;
    clear: both;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    font-size: 12px;
    font-weight: lighter;
    text-transform: uppercase;
  }
  footer .links,
  .bd-footer .links {
    padding: 0;
  }
  footer .bd-footer-links,
  .bd-footer .bd-footer-links {
    padding: 7px 30px 0 0;
  }
  footer ul,
  .bd-footer ul {
    list-style: outside none none;
    text-transform: capitalize;
  }
  footer ul li,
  .bd-footer ul li {
    float: right;
  }
  footer ul span,
  .bd-footer ul span {
    float: left;
  }
  footer ul a,
  .bd-footer ul a {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    text-decoration: none;
  }
  .vertical-center {
    min-height: 100%;
    /* Fallback for vh unit */
    /* Make it a flex container */
    display: -ms-flexbox;
    display: flex;
    /* Align the bootstrap's container vertically */
    -ms-flex-align: center;
    align-items: center;
    /* In legacy web browsers such as Firefox 9
	     we need to specify the width of the flex container */
    width: 100%;
    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
	     hence the bootstrap's container won't be aligned to the center anymore.

	     Therefore, we should use the following declarations to get it centered again */
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=app.css.map */
